body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*-> Main Banner <-*/

#bannerimg{
  margin-bottom: -20px;
}

#banner-btn{
  background-color: #ba445a !important
}

#iconimg{
  height: 164px;
  margin-top: 25px;
}

.parallax-container {
  height:400px;
}


/*-> Footer <-*/

footer{
  background-color: #ba445a !important
}

#icon{
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
